<app-formulario 
    (pasarFirst)="recibirFirstFromHijo($event)"
    (pasarSecond)="recibirSecondFromHijo($event)"
    (pasarOperacion)="recibirOperacionFromHijo($event)">
</app-formulario>

<app-resultado [resultadoFromDad]="resultado"></app-resultado>