<div style="text-align: center;">
    <div class="input-field inline ">
        <input [(ngModel)]="firstNum" id="num1" type="number" class="validate">
        <label for="num1" data-error="wrong" data-success="right">Primer Numero: </label>
    </div>
    <div class="input-field inline ">
        <input  [(ngModel)]="secondNum" id="num2" type="number" required="" aria-required="true">
        <label for="num2">Segundo Numero: </label>
    </div>

    
    <div>

        <a class="btn-floating btn-large waves-effect amber accent-3" type="submit" (click)="onPasarAPadre('+')">+</a>
        <a class="btn-floating btn-large waves-effect waves-light red" (click)="onPasarAPadre('-')">-</a>
        <a class="btn-floating btn-large waves-effect black" (click)="onPasarAPadre('*')">x</a>
        <a class="btn-floating btn-large waves-effect light-blue accent-3" (click)="onPasarAPadre('/')">/</a>

    </div>
</div>

